[submodule "gradle"]
	path = gradle
	url = git@github.com:recloudstream/gradle.git
[submodule "NiceHttp"]
	path = NiceHttp
	url = git@github.com:Blatzar/NiceHttp.git
[submodule "UniFile"]
	path = UniFile
	url = git@github.com:recloudstream/UniFile.git
[submodule "OverlappingPanels"]
	path = OverlappingPanels
	url = git@github.com:discord/OverlappingPanels.git
[submodule "NewPipeExtractor"]
	path = NewPipeExtractor
	url = git@github.com:TeamNewPipe/NewPipeExtractor.git
[submodule "jadb"]
	path = jadb
	url = git@github.com:vidstige/jadb.git
